$clr-dodger-blue: #3784f4;
$clr-picton-blue: #37b2f4;
$clr-royal-blue: #5a5eed;

$clr-bright-gray: #3f424f;
$clr-concrete: #f2f2f2;

// theme A
$clr-theme-a: #3784f4;

// theme B
$clr-theme-b: #37b2f4;

// theme C
$clr-theme-c: #5f678a;

// theme D
$clr-theme-d: #3f424f;


$clr-theme-default: #f0f3f5;
