////
/// Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Admonition extension - changed ms(-1) to ms(0) to increase size in style boxes
	//removed border radius 0.2rem
  .admonition {
    @include z-depth(2);

    position: relative;
    margin: 1.5625em 0;
    padding: 0 1.2rem;
    border-left: 0.4rem solid $clr-blue-a200;
    border-radius: 0.2rem;
    font-size: ms(-1);
    overflow: auto;

    // Adjust for RTL languages
    [dir="rtl"] & {
      border-right: 0.4rem solid $clr-blue-a200;
      border-left: none;
    }

    // Adjust spacing on last element
    html & > :last-child {
      margin-bottom: 1.2rem;
    }

    // Adjust margin for nested admonition blocks
    .admonition {
      margin: 1em 0;
    }

    // Title
    > .admonition-title {
      margin: 0 -1.2rem;
      padding: 0.8rem 1.2rem 0.8rem 4rem;
      border-bottom: 0.1rem solid transparentize(#3784f4, 0.84);
      background-color: transparentize(#3784f4, 0.84);
      font-weight: bold;

      // Adjust for RTL languages
      [dir="rtl"] & {
        padding: 0.8rem 4rem 0.8rem 1.2rem;
      }

      // Reset spacing, if title is the only element
      &:last-child {
        margin-bottom: 0;
      }

      // Icon
      &::before {
        @extend %md-icon;

        position: absolute;
        left: 1.2rem;
        color: $clr-blue-a200;
        font-size: 2rem;
        content: "\E3C9"; // edit

        // Adjust for RTL languages
        [dir="rtl"] & {
          right: 1.2rem;
          left: initial;
        }
      }
    }

    // Build representational classes
    @each $names, $appearance in (
      //abstract summary tldr: $clr-light-blue-a400 "\E8D2", // subject
      //info todo: $clr-cyan-a700 "\E88E", // info
      tip: $clr-teal-a700 "\E80E", // whatshot
      //success check done: #50c964 "\E876", // done
      //question help faq: $clr-light-green-a700 "\E887", // help
      warning: $clr-orange-a400 "\E002", // warning
      //failure fail missing: $clr-red-a200 "\E14C", // clear
      danger: $clr-red-a400 "\E3E7", // flash_on
      //bug: $clr-pink-a400 "\E868", // bug_report
      //cite: $clr-grey "\E244", // format_quote
		
	  //ewars classes
	  ewars: #5f678a "\e332", // ewars app guidance
      checklist: #50c964 "\E876", // check mark
      guidance: #3784f4 "\e8fd", // help
      case-study: $clr-red-a400 "\e0c8", // location pin
      references: $clr-grey "\e867", // bookmark
	  admin: #595959 "\e8b8" // settings
		
    ) {
      $tint: nth($appearance, 1);
      $icon: nth($appearance, 2);

      // Define base class
      &%#{nth($names, 1)},
      &.#{nth($names, 1)} {
        border-left-color: $tint;

        // Adjust for RTL languages
        [dir="rtl"] & {
          border-right-color: $tint;
        }

        // Title
        > .admonition-title {
          border-bottom: 0.1rem solid transparentize($tint, 0.9);
          background-color: transparentize($tint, 0.9);

          @if nth($names, 1) != 'definition' or 'more-details' or 'case-box' {
            // Icon
            &::before {
              color: $tint;
              content: $icon;
            }
          }
        }
      }

      // Define synonyms for base class - changed quote from 13px to ms(0)
      @if length($names) > 1 {
        @for $n from 2 through length($names) {
          &.#{nth($names, $n)} {
            @extend .admonition%#{nth($names, 1)};
          }
        }
      }
    }
	
	//make guidance normal title font weight
	&.guidance {
      >.admonition-title {
        font-weight: normal;
        }
	}
    &.more-details, &.definition, &.case-box {
      border-radius: 0;
      font-size: ms(-1);
      border-left: none;
      padding: 16px 24px;
      box-shadow: none;
      >.admonition-title {
        font-size: ms(-1);
        background-color: transparent;
        padding: 0;
        margin: 0;
        margin-bottom: 6px;
        border-bottom: none;
        &::before {
          display: none;
        }
      }
    }
	
    &.definition {
      background-color: transparentize(#3784f4, 0.92);
    }
    &.more-details {
      background-color: transparentize(#f2f2f2, 0.3);
	}
	&.case-box {
   background-color: rgba(249, 91, 166, .08);
    }
  }
}
