////
/// Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // All footnote references
  [id^="fnref:"] {
    display: inline-block;

    // Targeted anchor
    &:target {
      margin-top: -(4.8rem + 1.2rem + 1.6rem);
      padding-top: (4.8rem + 1.2rem + 1.6rem);
      pointer-events: none;
    }
  }

  // All footnote back references
  [id^="fn:"] {

    // Add spacing to anchor for offset
    &::before {
      display: none;
      height: 0;
      content: "";
    }

    // Targeted anchor
    &:target::before {
      display: block;
      margin-top: -(4.8rem + 1.2rem + 1rem);
      padding-top: (4.8rem + 1.2rem + 1rem);
      pointer-events: none;
    }
  }

  // Footnotes extension
  .footnote {
    color: $md-color-black--light;
    font-size: ms(-1);

    // Remove additional spacing on footnotes
    ol {
      margin-left: 0;
    }

    // Footnote
    li {
      transition: color 0.25s;

      // Darken color for targeted footnote
      &:target {
        color: $clr-bright-gray;
      }

      // Remove spacing on first element
      :first-child {
        margin-top: 0;
      }

      // Make back references visible on hover
      &:hover  .footnote-backref,
      &:target .footnote-backref {
        transform: translateX(0);
        opacity: 1;
      }

      // Active or targeted back reference
      &:hover  .footnote-backref:hover,
      &:target .footnote-backref {
        color: $md-color-accent;
      }
    }
  }

  // Footnote reference
  .footnote-ref {
    display: inline-block;
    pointer-events: initial;

    // Render a thin line before footnote
    &::before {
      display: inline;
      margin: 0 0.2em;
      border-left: 0.1rem solid $md-color-black--lighter;
      font-size: 1.25em;
      content: "";
      vertical-align: -0.5rem;
    }
  }

  // Footnote back reference
  .footnote-backref {
    @extend %md-icon;

    display: inline-block;
    transform: translateX(0.5rem);
    transition:
      transform 0.25s  0.125s,
      color     0.25s,
      opacity   0.125s 0.125s;
    color: $md-color-black--lighter;
    // Hack: remove Unicode arrow for icon
    font-size: 0;
    opacity: 0;
    vertical-align: text-bottom;

    // Adjust for RTL languages
    [dir="rtl"] & {
      transform: translateX(-0.5rem);
    }

    // Back reference icon
    &::before {
      display: inline-block;
      font-size: 1.6rem;
      content: "\E31B"; // keyboard_return

      // Adjust for RTL languages
      [dir="rtl"] & {
        transform: scaleX(-1)
      }
    }
  }
}
