////
/// Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Content container
.md-content {

  // Screenshot image controls
  img {
 	 padding: 5px;
 	 max-width: 100% !important;
 	 height: auto;
  	 display: block
	}
	
  img[src*="50"] {
 	 padding: 5px;
 	 max-width: 50% !important;
 	 height: auto;
  	 display: block
	}
	
  img[src*="75"] {
 	 padding: 5px;
 	 max-width: 75% !important;
 	 height: auto;
 	 display: block
	}
	
  img[src~="bordered"] {
 	 border: 1px solid #ddd;
 	 border-radius: 4px;
	}
	
  // [tablet landscape +]: Add space for table of contents
  @include break-from-device(tablet landscape) {
    margin-right: 24.2rem;

    // Adjust for RTL languages
    [dir="rtl"] & {
      margin-right: initial;
      margin-left: 24.2rem;
    }
  }

  // [screen +]: Add space for table of contents
  @include break-from-device(screen) {
    margin-left: 24.2rem;

    // Adjust for RTL languages
    [dir="rtl"] & {
      margin-right: 24.2rem;
    }
  }

  // Define spacing
  &__inner {
    margin: 0 1.6rem 2.4rem;
    padding-top: 1.2rem;
    padding-bottom: 40px;
    // [screen +]: Increase horizontal spacing
    @include break-from-device(screen) {
      margin-right: 2.4rem;
      margin-left: 2.4rem;
    }

    // Hack: add pseudo element for spacing, as the overflow of the content
    // container may not be hidden due to an imminent offset error on targets
    &::before {
      display: block;
      height: 0.8rem;
      content: "";
    }

    // Hack: remove bottom spacing of last element, due to margin collapse
    > :last-child {
      margin-bottom: 0;
    }
  }

  // Icons
  &__icon {
    @extend %md-icon__button;

    position: relative;
    margin: 0.8rem 0;
    padding: 0;
    float: right;

    // Override default link color for icons
    .md-typeset & {
      color: $md-color-black--lighter;
    }

    // Hide for print
    @media print {
      display: none;
    }
  }
}
.md-content--no-right {
  margin-right: 0!important;
}