////
/// Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Application header (stays always on top)
.md-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4.8rem;
  transition:
    background-color 0.25s,
    color 0.25s;
  background-color: $md-color-primary;
  color: $md-color-white;
  box-shadow: none;
  z-index: 2;
  // Hack: putting the header on the GPU avoids unnecessary repaints
  backface-visibility: hidden;

  // Always show shadow, in case JavaScript is not available
  .no-js & {
    transition: none;
    box-shadow: none;
  }

  // Show and animate shadow
  &[data-md-state="shadow"] {
    transition:
      background-color 0.25s,
      color 0.25s,
      box-shadow 0.25s;
    box-shadow:
      0 0 0.4rem rgba(0, 0, 0, 0.1),
      0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  }

  .theme-a & {
    background-color: $clr-theme-a;
  }

  .theme-b & {
    background-color: $clr-theme-b;
  }

  .theme-c & {
    background-color: $clr-theme-c;
  }

  .theme-d & {
    background-color: $clr-theme-d;
  }

  .theme-default & {
    color: $clr-bright-gray;
    background-color: $clr-theme-default;
    height: $dt-header-height;
    box-shadow: none;
  }
  // Hide for print
  @media print {
    display: none;
  }
}

// Navigation within header
.md-header-nav {
  padding: 0 0.4rem;

  // Icon buttons
  &__button {
    @extend %md-icon__button;

    padding: 0;
    position: relative;
    transition: opacity 0.25s;
    z-index: 1;
    line-height: 3.8rem;

    // Hovered icon
    &:hover {
      opacity: 0.7;
    }

    // Set correct display on image or icon
    &.md-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.5);

      * {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
      }
      .md-icon {
        display: none;
      }
      .theme-default & {
        width: 60px;
        height: $dt-header-height;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        line-height: $dt-header-height;
        img {
          width: 60px;
          height: 60px;
        }
      }
    }

    // Hide search icon, if JavaScript is not available.
    .no-js &.md-icon--search {
      display: none;
    }

    // [tablet landscape +]: Hide the search icon
    @include break-from-device(tablet landscape) {

      // Search icon
      &.md-icon--search {
        display: none;
      }
    }

    // [tablet -]: Hide the home icon or logo
    @include break-to-device(tablet) {

      // Home icon or logo
      &.md-icon--home,
      &.md-logo {
        display: none;
      }
    }

    // [screen +]: Hide the menu icon
    @include break-from-device(screen) {

      // Menu icon
      &.md-icon--menu {
        display: none;
      }
    }
    .theme-default &.md-icon--menu {
      margin-top: 0;
      margin-bottom: 0;
      height: $dt-header-height;
      line-height: $dt-header-height;
    }
  }

  // Header topics
  &__topic {
    display: block;
    position: absolute;
    transition:
      transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1),
      opacity 0.15s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    // Page title
    &+& {
      transform: translateX(2.5rem);
      transition:
        transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1),
        opacity 0.15s;
      opacity: 0;
      z-index: -1;
      pointer-events: none;

      // Adjust for RTL languages
      [dir="rtl"] & {
        transform: translateX(-2.5rem);
      }
    }

    // Induce ellipsis, if no JavaScript is available
    .no-js & {
      position: initial;
    }

    // Hide page title as it is invisible anyway and will overflow the header
    .no-js &+& {
      display: none;
    }
  }

  // Header title - set line height to match icon for correct alignment
  &__title {
    padding: 0 1.25rem;
    font-size: 1.8rem;
    line-height: 4.8rem;

    // Show page title
    &[data-md-state="active"] .md-header-nav__topic {
      transform: translateX(-2.5rem);
      transition:
        transform 0.4s cubic-bezier(1, 0.7, 0.1, 0.1),
        opacity 0.15s;
      opacity: 0;
      z-index: -1;
      pointer-events: none;

      // Adjust for RTL languages
      [dir="rtl"] & {
        transform: translateX(2.5rem);
      }

      // Page title
      &+.md-header-nav__topic {
        transform: translateX(0);
        transition:
          transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1),
          opacity 0.15s;
        opacity: 1;
        z-index: 0;
        pointer-events: initial;
      }
    }
    .theme-default & {
      font-size: 24px;
      line-height: $dt-header-height;
    }
  }

  // Repository containing source
  &__source {
    display: none;

    // [tablet landscape +]: Show the reposistory from tablet
    @include break-from-device(tablet landscape) {
      display: block;
      width: 23rem;
      max-width: 23rem;
      margin-left: 2.8rem;
      padding-right: 1.2rem;

      // Adjust for RTL languages
      [dir="rtl"] & {
        margin-right: 2.8rem;
        margin-left: initial;
        padding-right: initial;
        padding-left: 1.2rem;
      }
    }
  }
}
