/*h1 {
 color: black !important;
}*/

@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;

    /* @top-left-corner { content: " "; background-color: blue; }
    @top-right-corner { content: " "; background-color: blue; }
    @bottom-right-corner { content: counter(page); border: solid green; }
    @bottom-left-corner { content: normal; border: solid green; } */
    @top-left {
        content: '© 2019 EWARS';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}